input {
  width: 80%;
  padding: 1.5rem;
  border: none;
  border-bottom: 1px solid silver;
}

form button {
  padding: 0.5rem 1rem;
  margin: 1.5rem;
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
  width: 200px;
  height: 50px;
  background-color: darkslategrey;
  color: white;
}